body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.app-bg {
  background: linear-fradient(135deg, #d8d2f5, #bfb7ec);
  min-hight: 100vh;
  display: flex;
  align-item: center;
  justify-content: center;
  padding: 40px;
}

/* Simulasi Layar HP */
.phone {
  width: 380px;
  border-radius: 40px;
  bacground: #f4f4f4;
  box-shadow: 0 30px 60px rgba(0,0,0,0.2);
  padding: 16px;
}

.screen {
  background: #ffffff;
  border-radius: 38px;
  overflow: hidden;
}

/* Hero */
.hero-img {
  width: 100%
  height: auto;
  display: block;
  max-height: 420px;
  object-fit: contain;
}

/* Content */
.content {
  padding: 24px;
}

.category {
  font-size: 0.7rem;
  lettter-spacing: 1px;
  color: #888;
}

h1 {
  margin: 8px 0 16px;
  font-size: 1.5rem;
}

.rating {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

/* Info Grid */
.info-grid {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.info-box {
  flex: 1;
  background: #f0f0f0;
  border-radius: 16px;
  padding: 12px;
  font-size: 0.8rem;
  text-align: center;
}

h2 {
  margin-bottom: 8px;
  font-size: 1.1rem;
}

ul {
  padding-left: 18px;
}
