body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #111;
  margin: 0;
  padding: 0;
}

.container {
  max-widht: 720px;
  margin: auto;
  padding: 24px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 8px;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
}
